* {
    font-family: Roboto Mono;
    user-select: none;
}

body {
    background-color: #0d0221;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
}

.nav-bar-item {
    color: white;
    transition: 100ms ease;
    font-weight: bold;
    background-color: #3280fc;
    padding: 5px;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: #05fcb6;
}

.lg {
    width: 500px;
}

.tlg {
    font-size: 1.5rem;
}

.italics {
    font-style: italic;
}

.nav-bar-item:hover {
    transform: scale(1.1);
}

h1 {
    color: white;
}
