*{
    font-family: Roboto Mono;
    user-select: none;
}

body{
    background-color: #0D0221;
    text-align: center;
}

.nav-bar{
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
}

.nav-bar-item{
    color: white;
    transition: 100ms ease;
    font-weight: bold;
    background-color: #3280fc;
    padding: 5px;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
}

p{
    color: #05fcb6;
}

.nav-bar-item:hover{
    transform: scale(1.1);
}

